@for (item of [].constructor(12); track $index) {
    <div class="card-placeholder card max-w-300px w-100 p-0" aria-hidden="true">
        <figure class="placeholder-glow">
            <span class="placeholder col-6 w-100 h-200px"></span>
        </figure>
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            </p>
        </div>
        <a class="footer-placeholder btn disabled placeholder w-100 col-6" aria-disabled="true"></a>
    </div>
}
