:host {
    width: 100%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--colorBgContent);
}

section {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}