.btn-group {
    .btn {
    }
    
    .btn.btn-primary {
        border: none;
        background-color: $danger-light;
    }
    .btn.btn-primary.active {
        background-color: $primary;
    }
}