.card {
  .card-header {
    background-color: var(--colorBaseQuaternary);
    min-height: 60px;
    .card-title {
      margin: 0;
      font-weight: 400;
    }
  }
  .card-footer {
    min-height: 60px;
    background-color: var(--colorBaseQuaternary);
  }
}

.border-min-primary {
  border: 0.5px solid var(--bs-primary);
}
