<section class="section-logo d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <img class="img-logo w-300px" src="assets/logo/routa-garage-logo-white.png" alt="Imagem do logo">
</section>


<section class="d-flex flex-column align-items-center justify-content-center w-30 gap-6">
    <h3 class="text-danger">Login</h3>
    <form [formGroup]="formAuth" (ngSubmit)="submitLogin()" class="d-flex flex-column justify-content-center align-items-center gap-5 w-80" >
        <fieldset class="form-floating w-100">
            <input class="form-control" type="email" id="email" formControlName="email" placeholder="name@example.com">
            <label  for="email">E-mail</label>
        </fieldset>
        <fieldset class="form-floating w-100">
            <input class="form-control" type="password" id="password" formControlName="password" placeholder="password">
            <label for="password">Senha</label>
        </fieldset>
        <button type="submit" class="btn btn-primary btn-lg w-100">Entrar</button>
    </form>

</section>
