
<app-button-default (click)="openModal()">Novo</app-button-default>

<section class="container">
    <div class="row g-4">
        @if (storageCar() && storageCar().length > 0) {   
            @for (car of storageCar(); track $index) {
                <div class="col-md-6 col-xl-4">
                    <app-card-storage [carInfo]="car"></app-card-storage>
                </div>
            }
        }
    </div>
</section>


<ng-template #modalStorage>
    <app-modal-storage></app-modal-storage>
</ng-template>