<section class="container">
    <div class="row g-4">
        @if (storageCar() && storageCar().length > 0) {   
            @for (car of storageCar(); track $index) {
                <div class="col-sm-6 col-xl-4">
                    <app-card-storage [carInfo]="car"></app-card-storage>
                </div>
            }
        }@else {
            <app-empty-list>Lista do estoque vazia</app-empty-list>
        }
    </div>
</section>


<ng-template #modalStorage>
    <app-modal-base title="Novo veiculo">
        <app-modal-storage opt="add" (reloadStorage)="reload()"></app-modal-storage>
    </app-modal-base>
</ng-template>