<div class="w-100 d-flex justify-content-end">
    <app-button-default (click)="openModal()">Novo veiculo</app-button-default>
</div>

<section class="container">
    <div class="row g-4">
        @if (storageCar() && storageCar().length > 0) {   
            @for (car of storageCar(); track $index) {
                <div class="col-sm-6 col-xl-4">
                    <app-card-storage [carInfo]="car"></app-card-storage>
                </div>
            }
        }
    </div>
</section>


<ng-template #modalStorage>
    <app-modal-base title="Novo veiculo">
        <app-modal-storage></app-modal-storage>
    </app-modal-base>
</ng-template>