$utilities-bg-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "table": var(--colorBgTable)
);

$utilities-bg-colors-light: (
  "primary": $primary-light,
  "secondary": $secondary-light,
  "success": $success-light,
  "danger": $danger-light,
  "warning": $warning-light,
  "info": $info-light,
  "light": $light-light,
  "dark": $dark-light
);

$custom-widths-height: (
    10px: 10px,
    20px: 20px,
    30px: 30px,
    40px: 40px,
    50px: 50px,
    60px: 60px,
    70px: 70px,
    80px: 80px,
    90px: 90px,
    100px: 100px,
    125px: 125px,
    150px: 150px,
    180px: 180px,
    200px: 200px,
    250px: 250px,
    300px: 300px,
    400px: 400px,
    500px: 500px,
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%,
    100: 100%,
    200: 200%,
    300: 300%,
    400: 400%,
    500: 500%,
    100vh: 100vh,
    50vh: 50vh,
    100vw: 100vw
);

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
  11: $spacer * 9,
  12: $spacer * 10
);

$font-size-base:              1rem !default;

$font-sizes: (
  1: $font-size-base * .03125,
  2: $font-size-base * .0625,
  3: $font-size-base * .125,
  4: $font-size-base * .25,
  5: $font-size-base * .375,
  6: $font-size-base * .5,
  7: $font-size-base * .625,
  8: $font-size-base * .75,
  9: $font-size-base * .875,
  10: $font-size-base * 1,
  11: $font-size-base * 1.25,
  12: $font-size-base * 1.5,
  13: $font-size-base * 1.75,
  14: $font-size-base * 2,
  15: $font-size-base * 2.5
);

$font-weight: (
    lighter: lighter,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    bolder: bolder
);


$utilities: (
  "width": (
    property: "width",
    class: "w",
    values: $custom-widths-height,
    responsive: true
  ),
  "height": (
    property: "height",
    class: "h",
    values: $custom-widths-height,
    responsive: true
  ),
  "gap": (
    property: "gap",
    class: "gap",
    values: $spacers,
    responsive: true
  ),
  "font-size": (
    property: "font-size",
    class: "fs",
    values: $font-sizes,
    responsive: true
  ),
  "font-weight": (
    property: "font-weight",
    class: "fw",
    values: $font-weight,
    responsive: true
  ),
  "min-viewport-width": (
    property: min-width,
    class: "min-w",
    values: $custom-widths-height,
    responsive: true
  ),
  "max-viewport-width": (
    property: max-width,
    class: "max-w",
    values: $custom-widths-height,
    responsive: true
  ),
  "background-color": (
    property: background-color,
    class: bg,
    local-vars: ("bg-opacity": 1),
    values: $utilities-bg-colors,
    responsive: true
  )
);


@each $name, $color in $utilities-bg-colors-light {

  .bg-hover-#{$name}:hover  {
    background-color: $color !important;
  }

  .bg-hover-#{$name}:hover td  {
    background-color: $color !important;
  }

  .bg-hover-#{$name}:hover th  {
    background-color: $color !important;
  }

  .bg-light-#{$name}  {
    background-color: $color !important;
  }

  .bg-light-#{$name} td  {
    background-color: $color !important;
  }

  .bg-light-#{$name} th  {
    background-color: $color !important;
  }
  
}

@each $name, $color in $utilities-bg-colors {

  .bg-#{$name} td  {
    background-color: $color !important;
  }

  .bg-#{$name} th  {
    background-color: $color !important;
  }

  .bg-light-#{$name}.badge, .bg-hover-#{$name}:hover td  {
    color: $color !important;
    font-weight: 500;
  }
  
}